@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";


.logo {
  font-family: Georgia, serif;
  font-size: 2rem;
}

.scroll {
  overflow: scroll;
  max-height: 490px;
}